doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h5
      | A new job has been submitted! See website admin for more details
    p
      | Solar Company:
      = @job.solar_company_name
    p
      | City:
      = @job.city_name
    p
      | State:
      = @job.state
    = for attribute in @job.attributes.keys
      p = "#{attribute.humanize}: #{@job.attributes[attribute].to_s}"
