| A new job has been submitted! See website admin for more details =============================================== Solar Company: 
= @job.solar_company_name
|  City: 
= @job.city_name
|  State: 
= @job.state
