| A job has been requested in a city not recognized by our database =============================================== Is Premanufacture Truss: 
= @job.is_premanufacture_truss
|  Email: 
= @job.email
|  Solar Company Name: 
= @job.solar_company_name
|  Client Last Name: 
= @job.client_last_name
|  Street Address: 
= @job.street_address
|  City: 
= @job.city_name
|  State: 
= @job.state
|  Roof Square Footage: 
= @job.roof_square_footage
|  Home Elevation: 
= @job.home_elevation
|  Number of Panels: 
= @job.number_of_panels
|  Roof Pitch: 
= @job.roof_pitch
