doctype html
html
  head
    meta[content="text/html; charset=UTF-8" http-equiv="Content-Type"]
  body
    h5
      | A job has been requested in a city not recognized by our database
    p
      | Is Premanufacture Truss: 
      = @job.is_premanufacture_truss
    p
      | Email: 
      = @job.email
    p
      | Solar Company Name: 
      = @job.solar_company_name
    p
      | Client Last Name: 
      = @job.client_last_name
    p
      | Street Address: 
      = @job.street_address
    p
      | City: 
      = @job.city_name
    p
      | State: 
      = @job.state
    p
      | Roof Square Footage: 
      = @job.roof_square_footage
    p
      | Home Elevation: 
      = @job.home_elevation
    p
      | Number of Panels: 
      = @job.number_of_panels
    p
      | Roof Panels: 
      = @job.roof_pitch
