.head-container.orange
  .content
    h1 Get an Estimate #{fa_icon "check 1x"}
    h3 Fill out the form to submit your job. We'll respond with an estimate as soon as possible.
.container
  = simple_form_for @job, html: { multipart: true } do |f|
    .row.justify-content-center
      .col-lg-8
        .row
          .col-md-12
            h3 Client Information
          .col-md-4.col-sm-6.form-group
            = f.input :client_last_name, class:"form-control"
          .col-md-8.col-sm-6.form-group
            = f.input :google_address_input, label: "Client Address", class:"form-control", :input_html =>{:id => 'gmaps'}
            = f.hidden_field :street_number, class:"form-control", :input_html =>{:id => 'street_number'}
            = f.hidden_field :route, class:"form-control", :input_html =>{:id => 'route'}
            = f.hidden_field :postal_code, class:"form-control ", :input_html =>{:id => 'postal_code'}
            = f.hidden_field :locality, class:"form-control", :input_html =>{:id => 'locality'}
            = f.hidden_field :administrative_area_level_1, class:"form-control", :input_html =>{:id => 'administrative_area_level_1'}

            = f.hidden_field :street_address, class:"form-control", :input_html =>{:id => 'street_number'}
            = f.hidden_field :zip, class:"form-control ", :input_html =>{:id => 'zip'}
            = f.hidden_field :city_name, class:"form-control", :input_html =>{:id => 'city_name'}
            = f.hidden_field :state, class:"form-control", :input_html =>{:id => 'state'}
            = f.hidden_field :home_elevation, class:"form-control", :input_html =>{:id => 'home_elevation'}
    .row
      hr
      .col-md-12
        h3 Structure Details
      .col-md-4.col-sm-4.form-group
        = f.input :structure_type, collection: structure_types, class: "form-control", id: "structureType", default: "Residence"
      .col-md-4.col-sm-4.form-group
        = f.input :enclosure, collection: enclosure_types, class: "form-control", id: "enclosureType", default: "Enclosed"
      / .col-md-4.col-sm-4.form-group
      /   = f.input :roof_square_footage, class:"form-control", input_html: { min: 0 }
      .col-md-4.col-sm-4.form-group
        = f.input :roof_material, collection: roof_materials, class: "form-control", id: "roofMaterial", default: "Asphalt shingles"
      .col-md-4.col-sm-4.form-group.connection-type
        / = f.collection_select(:connection_type, ConnectionType.all, :id, :name), class: "form-control", id: "connectionType"
        = f.input :connection_type_id, collection: @connection_types, class: "form-control", id: "connectionType"
      .col-md-4.col-sm-4.form-group
        = f.input :number_of_arrays, class:"form-control", id: "arrayCount", onChange: 'changeNumberOfArrays()', input_html: { min: 1, max: 8 }, default: 1



    .row
      / hr
      .col-md-12
        h3 Array Details
        p All measurements are measured in feet unless otherwise noted. You may include up to 8 arrays.
      = simple_fields_for 'job_arrays[]', @job.job_arrays.build do |j|
        - 8.times do |index|
          div[class="array-group array-#{index} #{index === 0 ? '' : 'hidden'}"]
            .col-md-12
              h4 Array #{index + 1}
            .col-md-4.col-sm-4.form-group
              = j.input :name, label: 'Array name', class:"form-control", id: "panelName", name: 'array[#{index}]["name"]', default: "Array Name"
            .col-md-4.col-sm-4.form-group
              = j.input :panel_quantity, class:"form-control", id: "panelCount", name: 'array[#{index}]["panel_quantity"]', input_html: { min: 0 }, default: 1
            .col-md-4.col-sm-4.form-group
              = j.input :beam_span, class:"form-control", name: 'array[#{index}]["beam_span"]', input_html: { min: 0 }, default: 2
            .col-md-4.col-sm-4.form-group
              = j.input :beam_spacing, class:"form-control", name: 'array[#{index}]["beam_spacing"]', input_html: { min: 0 }, label: "Beam Spacing (inches)", default: 12
            .col-md-4.col-sm-4.form-group
              = j.input :number_of_panels_on_rafter, class:"form-control", name: 'array[#{index}]["number_of_panels_on_rafter"]', input_html: { min: 0 }, default: 1
            .col-md-4.col-sm-4.form-group
              = j.input :panel_distance_from_eave, class:"form-control", name: 'array[#{index}]["panel_distance_from_eave"]', input_html: { min: 0 }, default: 3
            .col-md-4.col-sm-4.form-group
              = j.input :orientation, collection: orientation_types, class:"form-control", name: 'array[#{index}]["orientation"]', default: "Portrait"
            .col-md-4.col-sm-4.form-group
              = j.input :framing_type, collection: roof_framing_types, class: "form-control framing_type", id: "roofFramingType", name: 'array[#{index}]["framing_type"]', :input_html => { :data_id => "#{index}" }
            .col-md-4.col-sm-4.form-group.hidden id="#{index}_other_frame_type"
              = j.input :framing_type_other, label: "If framing type is 'Other', please specify", class:"form-control", name: 'array[#{index}]["framing_type_other"]'

            .col-md-4.col-sm-4.form-group
              = j.input :roof_pitch, class:"form-control roof_pitch", name: 'array[#{index}]["roof_pitch"]', :input_html => { :data_roof => "#{index}", min: 0, max: 90 }, default: 23
            .col-md-4.col-sm-4.form-group.hidden id="#{index}_ballast_check"
              = j.input :ballast, class:"form-control ballast_check", name: 'array[#{index}]["ballast"]', default: false, :input_html => { :data_check => "#{index}" }
            .col-md-4.col-sm-4.form-group.hidden id="#{index}_ballast_weight_psf"
              = j.input :ballast_weight_psf, class:"form-control", name: 'array[#{index}]["ballast_weight_psf"]', :input_html => { :data => "#{index}", min: 0 }
            .col-md-4.col-sm-4.form-group
              p.bold Beam Size Images
              = j.file_field :beam_size_images, name: 'job_arrays[][beam_size_images]', type: :file, multiple: true, class:"form-control", label: false
            .col-md-4.col-sm-4.form-group
              p.bold Beam Spacing Images
              = j.file_field :beam_spacing_images, name: 'job_arrays[][beam_spacing_images]', type: :file, multiple: true, class:"form-control", label: false
            .col-md-4.col-sm-4.form-group
              p.bold Overall Attic Images
              = j.file_field :attic_images, name: 'job_arrays[][attic_images]', type: :file, multiple: true, class:"form-control", label: false
            - if index === 0
              .col-md-4.col-sm-4.form-group id="#{index}_video_link"
                = j.input :video_link, class:"form-control", name: 'array[#{index}]["video_link"]', :label => "Link to Video Tutorial (optional)"

        hr
        / .row
        /   .col-md-12.col-sm-12.form-group
        /     div[style="display: flex; flex-direction: row; justify-content: flex-start"]
        /       = f.input :is_premanufacture_truss, class:"form-control", label: false
        /       p.bold[style="margin-left: 15px"] Is premanufacture truss?

        .row
          .col-md-12.col-sm-12.form-group
            p.bold Images - To upload multiple: cmd-click for Mac, ctrl-click for Windows
            = f.file_field "photos", type: :file, multiple: true, class:"form-control", label: false
          .col-md-12.col-sm-12.form-group
            p.bold Solar Layout - SPDF or Photo
            = f.file_field "layout", type: :file, multiple: true, class:"form-control", label: false
          .col-md-12.col-sm-12.form-group
            p.bold Roof Material Images - To upload multiple: cmd-click for Mac, ctrl-click for Windows
            = f.file_field "roof_material_images", type: :file, multiple: true, class:"form-control", label: false

        hr
        .row
          .col-md-12.col-sm-12.form-group
            div[style="display: flex; flex-direction: row; justify-content: flex-start"]
              = f.input :company_verified_inspection, label: false, class:"form-control"
              p.bold[style="margin-left: 15px"] I certify that I inspected the roof structure and there is no deflection in the roof and all the connections are secure and stable. There were no instabilities to my knowledge.
          .col-xs-12.pad-bottom
            = f.submit 'Submit', class:"btn btn-lg btn-orange text-uppercase right"
          .col-xs-6
            = link_to 'Go Back', user_path(@user), class: "a btn btn-lg"


javascript:
  initAutocomplete();
  function initAutocomplete() {
    var input = document.getElementById('gmaps');
    var options = {
      types: ['geocode'],
      componentRestrictions: {country: 'us'}
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    var elevator = new google.maps.ElevationService;
    var place = autocomplete.getPlace();
    console.log(place.geometry.location.lng())
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      var val = place.address_components[i].long_name;
      if (document.getElementById('job_' + addressType) !== null) {
        document.getElementById('job_' + addressType).value = val;
      }
      elevator.getElevationForLocations({
          'locations': [{lat: place.geometry.location.lat(), lng: place.geometry.location.lng()}]
        }, function(results, status) {

          if (status === 'OK') {
            // Retrieve the first result
            if (results[0]) {
                  elevation_field = (document.getElementById('job_home_elevation'));
                  elevation_field.value = (results[0].elevation * 3.28084)
            } else {
              console.log('No results found');
            }
          } else {
            console.log('Elevation service failed due to: ' + status);
          }
        });
    }
  }

  // prevent form submission on ENTER key
  $("form.new_job").on("keypress", function (e) {
    if (e.keyCode == 13) {
        return false;
    }
  });

  // conditionally hide/show arrays based on Number of Arrays input value
  $('#job_number_of_arrays').on('change keyup', function() {
    var numberOfArrays = $('#job_number_of_arrays').val()
    var allArrays = $('.array-group');
    allArrays.each(function(index, val) {
      if(numberOfArrays === 0 || numberOfArrays === '') {
        index === 0 ? val.classList.remove('hidden') : val.classList.add('hidden')
      }
      else {
        (index + 1) <= numberOfArrays ? val.classList.remove('hidden') : val.classList.add('hidden')
      }
    })
  });

  $("#job_roof_material").on('change', function() {
    connectionType = $('.job_connection_type')
    var material = $('#job_roof_material').val() === 'Asphalt Shingles'
      ? connectionType.parent().addClass('hidden')
      : connectionType.parent().removeClass('hidden')
  })

  $(".job_arrays_roof_pitch").change(function(event) {
    var roof_pitch_element = $(event.target);
    var id = roof_pitch_element.attr('data_roof');
    var value = roof_pitch_element.val();

    if (value === "0") {
      $("#" + id + "_ballast_check").removeClass("hidden")
    } else {
      $("#" + id + "_ballast_check").addClass("hidden").val("");
    }
  })
  $(".job_arrays_ballast").find("input").change(function(event) {
    var ballast_check = $(event.target);
    var id = ballast_check.attr('data_check');
    var value = ballast_check.is(':checked');

    if (value === true) {
      $("#" + id + "_ballast_weight_psf").removeClass("hidden")
    } else {
      $("#" + id + "_ballast_weight_psf").addClass("hidden").val("");
    }
  })
  $(".job_arrays_framing_type").find("select").change(function(event) {
    var dropdown = $(event.target);
    var id = dropdown.attr('data_id');
    var value = dropdown.children("option").filter(":selected").text();

    if (value === "Other") {
      $("#" + id + "_other_frame_type").removeClass("hidden")
    } else {
      $("#" + id + "_other_frame_type").addClass("hidden").val("");
    }
  })
  $("#roofMaterial").change(function(event) {
    var dropdown = $(event.target);
    var value = dropdown.children("option").filter(":selected").text();

    if (value !== "Asphalt Shingles") {
      $(".connection-type").removeClass("hidden")
    } else {
      $(".connection-type").addClass("hidden").val("");
    }
  })
