.head-container.orange
  .col-xs-12.col-md-12.column
    .content
      h1
        = @job.client_last_name
      h3
        = "Status: #{@job.status}"
.container
  .col-xs-12.column
    h3 Summary
    p Submission Date: #{@job.created_at.strftime("%m.%d.%Y")}
    - if @job.status == "Approved" || @job.status == "Approved & Sent"
      p Decision Date: #{@job.updated_at.strftime("%m.%d.%Y")}
    hr
    h3 Reports
    - if @job.status == "Approved & Sent" || @job.status == "Rejected & Sent"
      = link_to "View PDF Report", generate_report_path(format: :pdf), class: "button margin-top", target: "_blank"
    - else
      p[style="text-align: center; width: 50%; min-width: 250px; margin: 0 auto;"] No reports available yet. Once we have reviewed your job, you will receive an email letting you know. Your reports will also be available for download here.
