.head-container.orange
  .content
    h1 My Estimates
    h3 #{@user.company.name}
.container
  .col-md-6
    h3 Get Started
    p Want an estimate completed? Click the button below to get started!
    hr
    - if @user.role == "admin"
      = link_to "Go to Back Office", admin_jobs_path, class: "a btn btn-lg btn-orange"
      br
      hr
    - if @user.company.blank?
      = link_to "What's your company?", new_company_path, class: "a btn btn-lg btn-orange"
    - else
      = link_to "Create New Estimate", new_job_path, class: "a btn btn-lg btn-orange"
    br
    hr style="margin-top: 165px;"
    = link_to "Log Out", destroy_user_session_path, method: 'delete', class: "a btn btn-lg btn-orange"
  - if @user.jobs.size > 0
    .col-md-6
      h3 My Estimates

      p See your estimates here.
      hr
      - for job in @user.jobs
        = link_to "#{job.client_last_name}", job_path(job), class: "a"
        span = " - #{ job.status }"
        hr