<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">
  <div class="menu-header">
    <h1 class="menu-title">Back Office</h1>
  </div>

  <% resources = DashboardService.routes(Administrate::Namespace.new(namespace)) %>
  <% resources.each do |resource| %>
    <%= link_to(
      display_resource_name(resource),
      [namespace, resource_index_route_key(resource)],
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) %>
  <% end %>
  <%= link_to "Log Out", destroy_user_session_path, method: 'delete', class: "navigation__link", style: "margin-top: 65px;" %>
  <%= link_to "Exit Back Office", root_path, class: "navigation__link", style: "margin-top: 15px;" %>
</nav>
