<%#
# Collection

This partial is used on the `index` and `show` pages
to display a collection of resources in an HTML table.

## Local variables:

- `collection_presenter`:
  An instance of [Administrate::Page::Collection][1].
  The table presenter uses `ResourceDashboard::COLLECTION_ATTRIBUTES` to determine
  the columns displayed in the table
- `resources`:
  An ActiveModel::Relation collection of resources to be displayed in the table.
  By default, the number of resources is limited by pagination
  or by a hard limit to prevent excessive page load times

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<table aria-labelledby="<%= table_title %>">
  <thead>
    <tr>

      <th class="cell-label">Client</th>
      <th class="cell-label"><a href="/admin/jobs?job%5Bdirection%5D=desc&job%5Border%5D=created_at">Submission Date</a></th>
      <th class="cell-label">Company</th>
      <th class="cell-label"><a href="/admin/jobs?job%5Bdirection%5D=asc&job%5Border%5D=status">Status</a></th>
<%# http://localhost:3000/admin/users?user%5Bdirection%5D=asc&user%5Border%5D=jobs %>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |resource| %>
      <% status_color = resource.status == "In Review" ? "orange" : resource.status == "Approved" ? "green" : resource.status == "Approved & Sent" || resource.status == "Rejected & Sent" ? "blue" : "red" %>
      <tr class="js-table-row"
          tabindex="0"
          <% if valid_action? :show, collection_presenter.resource_name %>
            <%= %(role=link data-url=#{polymorphic_path([namespace, resource])}) %>
          <% end %>
          >

          <td class="cell-data">
            <% if show_action? :show, resource -%>
              <a href="<%= polymorphic_path([namespace, resource]) -%>"
                 class="action-show"
                 >
                <%= resource.client_last_name %>
              </a>
            <% end -%>
          </td>
          <td class="cell-data">
            <% if show_action? :show, resource -%>
              <a href="<%= polymorphic_path([namespace, resource]) -%>"
                 class="action-show"
                 >
                <%= resource.created_at.strftime("%m.%d.%y") %>
              </a>
            <% end -%>
          </td>
          <td class="cell-data">
            <% if show_action? :show, resource -%>
              <a href="<%= polymorphic_path([namespace, resource]) -%>"
                 class="action-show"
                 >
                <%= resource.company.name %>
              </a>
            <% end -%>
          </td>
          <td class="cell-data">
            <% if show_action? :show, resource -%>
              <a href="<%= polymorphic_path([namespace, resource]) -%>"
                 class="action-show"
                 style="color: <%=status_color%>"
                 >
                <%= resource.status %>
              </a>
            <% end -%>
          </td>

        <% if valid_action? :edit, collection_presenter.resource_name %>
          <td><%= link_to(
            t("administrate.actions.edit"),
            [:edit, namespace, resource],
            class: "action-edit",
          ) if show_action? :edit, resource%></td>
        <% end %>

        <% if valid_action? :destroy, collection_presenter.resource_name %>
          <td><%= link_to(
            t("administrate.actions.delete"),
            [namespace, resource],
            class: "text-color-red",
            method: :delete,
            data: { confirm: t("administrate.actions.confirm") }
          ) if show_action? :destroy, resource %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
