<% content_for(:title) { "Job: #{@job.client_last_name}" } %>
<% status_color = @job.status == "In Review" ? "orange" : @job.status == "Rejected" ? "red" : "green" %>
<%= csrf_meta_tag %>
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: "job"),
      [:edit, namespace, @job],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, @job) %>
  </div>
</header>

<div class="dashboard-main-view">
  <section class="sectional">
    <div class="summary">
      <div class="summary-collection left">
        <dt class="attr-label">Status:</dt>
        <dd class="attr-data" id="job-status"
        style="color: <%=status_color%>"><%= @job.status %></dd>
        <dt class="attr-label">Submission Date:</dt>
        <dd class="attr-data"><%= @job.created_at.strftime('%a, %b %d, %Y') %></dd>
      </div>

      <div class="summary-collection">
        <dt class="attr-label">Options:</dt>
        <%= link_to "Approve", "#", id: "mark-accepted", data: {job_id: @job.id }, class: "button margin-top green"%>
        <%= link_to "Reject", "#", id: "mark-rejected", data: {job_id: @job.id }, class: "button margin-top danger"%>
      </div>
      <div class="summary-collection">
        <dt class="attr-label">Actions:</dt>
        <% ready = @job.city.is_missing_required_fields ? "none" : "block" %>
        <% notready = @job.city.is_missing_required_fields ? "block" : "none" %>
        <div style="display: <%= ready %>">
          <%= link_to "Generate PDF Report", admin_generate_report_path(format: :pdf), class: "button margin-top", target: "_blank"  %>
          <% if @job.documents.count > 1 %>
            <%= link_to "View Stored PDF Report", admin_generate_report_path(format: :pdf, :fromcache => true), class: "button margin-top", target: "_blank"  %>
          <% end %>
          <%# <%= link_to "View PDF Image", admin_generate_image_path(format: :pdf), class: "button margin-top", target: "_blank"  %>
          <% show = @job.status != "In Review" ? "block" : "none" %>
          <%= link_to "Send Report via Email", "#", class: "button margin-top", style: "display: #{show}", id: "send-email" %>
        </div>
        <div style="display: <%= notready %>">
        <p style="max-width: 300px">Prior to generating a report, please fill out the needed details for this job's city.</p>
        <%= link_to "Update #{@job.city.name}", edit_admin_city_path(@job.city.id) %>
        </div>
      </div>
    </div>
  </section>
  <hr />
  <h1 style="margin-bottom: 30px;">Submitted Data</h1>
  <section class="sectional">
    <div class="job-attributes-container">
      <% @job.attributes.except("created_at", "updated_at", "roof_pitch", "letter_type", "roof_square_footage", "user", "roof_framing_type").each do |attribute, value| %>
        <div class="dashboard-item">
          <dt class="attr-label" id="<%= attribute %>">
          <%= t(
            "helpers.label.#{resource_name}.#{attribute}",
            default: attribute.titleize,
          ) %>
          </dt>

          <dd class="attr-data"
              ><%= value == false ? "No" : value == true ? "Yes" : value == nil ? 'Not Entered' : value %></dd>
        </div>

      <% end %>
    </div>
  </section>
  <section class="sectional">
    <h1 class="section-title">Arrays</h1>
    <div class="job-attributes-container">
      <% if @job_arrays.length == 0 %>
        <p>No arrays for this job were entered.</p>
      <% else %>
        <% @job_arrays.each do |job_array| %>
          <% job_array.attributes.except("id", "job_id", "created_at", "updated_at").each do |attribute, value| %>
            <% if attribute == "framing_type_other" && job_array.framing_type_is_other == false then next end %>
          <div class="dashboard-item">
            <dt class="attr-label" id="<%= attribute %>">
              <%= t(
                    "helpers.label.#{resource_name}.#{attribute}",
                    default: attribute.titleize,
                ) %>
              </dt>

              <dd class="attr-data"><%= value == false ? "No" : value == true ? "Yes" : value == nil ? 'Not Entered' : value == "" ? "Not Entered" : value %></dd>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <section class="sectional" style="margin-top: 24px">

    <h1 style="margin-bottom: 30px">Image uploads</h1>
    <% @job.images.each do |image| %>
      <%= image_tag url_for(image) %>
      <br />
      <%= link_to "Download", rails_blob_path(image, disposition: 'attachment') %>
      <hr />
    <% end %>
    <h1 style="margin-bottom: 30px">Layout uploads</h1>
    <% @job.layouts.each do |layout| %>

      <% if layout.blob.content_type != "application/pdf" %>
        <%= image_tag url_for(layout) %>
        <br />
        <%= link_to "Download", rails_blob_path(layout, disposition: 'attachment') %>
      <% else %>
        <p>Cannot preview PDF. You must download this file in order to view it.</p>
        <%= link_to "Download PDF", rails_blob_path(layout, disposition: 'attachment') %>
      <% end %>
      <hr />
    <% end %>
    <h1 style="margin-bottom: 30px">Roof Material uploads</h1>
    <% @job.roof_material_images.each do |image| %>
      <%= image_tag url_for(image) %>
      <br />
      <%= link_to "Download", rails_blob_path(image, disposition: 'attachment') %>
      <hr />
    <% end %>

  </section>


  <div class="modal">
    <div class="modal-body">
      <h3>Email has been queued for sending.</h3>
      <p>Please allow a few minutes for it to deliver.</p>
      <a class="button" href="#" id="dismiss-modal">Great</a>
    </div>
  </div>
</div>