header.main-content__header[role="banner"]
  h1.main-content__page-title
    = %"Job: #{@job.client_last_name}"
  div
    = link_to(t("administrate.actions.edit_resource", name: @job.client_last_name), [:edit, namespace, @job], class: "button" ) if valid_action?(:edit) && show_action?(:edit, @job)
section.main-content__body
  dl
    - @job.attributes.each do |attribute, value|
      |  <dt class="attribute-label" id="
      = attribute
      | ">
      = t("helpers.label.#{resource_name}.#{attribute}", default: attribute )
      | </dt>
      | <dd class="attribute-data">
      = value
      | </dd>
      / = render_field attribute, page: value
