/ substitutions = {
/   '{keywords}' => 'foo',
/   '{other_variable}' => 'bar'
/ }

/ substitution_regex = /#{Regexp.new(Regexp.union(substitutions.keys))}/
/ # => /(?-mix:\{keywords\}|\{other_variable\})/

/ url = "http://site1.com?keywords={keywords}&some_other_variable={other_variable}"

/ url.gsub(substitution_regex, substitutions)
/ # => "http://site1.com?keywords=foo&some_other_variable=bar"
head
  = wicked_pdf_stylesheet_link_tag "documents"
body
  p Sorry, there was an error in the calculations while generating this report.
  h5 ERROR:
  p
    = error
  h5 Backtrace
  p
    = error.backtrace