body
  .container.pdf
    = wicked_pdf_image_tag image.service_url, style: "height: 1200px; width: 900px; position: absolute; top: 0; left: 0; right: 0; bottom: 0;"
    - if print_stamp
      = wicked_pdf_image_tag stamp_url, style: "position: absolute; top: 100; left: 90; width: 150px; height: 150px;"
