body
  .container.pdf
    .header-row
      .header.left.details.table-head

      .header.right
        = image_tag("proprietary/logo.png")
    .table-div
      .table-header
        p.font-weight-bold
          | Project: LAST NAME Residence
      .table-body
        p.table-name
          | Design Criteria:
        table.calculations
          tbody
            tr
              td.row-title
                | Design Wind Speed
              td
                | 115
              td
              td
            tr
              td.row-title
                | Risk Category
              td
                | II
              td
              td
            tr
              td.row-title
                | Wind Exposure
              td
                | C
              td
              td
            tr
              td.row-title
                | Dead Load
              td
                | 12.0
              td
                | psf
              td
            tr
              td.row-title
                | Snow Load/Live Load
              td
                | 30.0
              td
                | psf
              td
            tr
              td.row-title
                | Solar Load
              td
                | 3.0
              td
                | psf
              td
            tr
              td.row-title
                | Affected Roof Area
              td
                | 900
              td
                | ft ^ 2
              td
            tr
              td.row-title
                | Affected Solar Panels
              td
                | 15
              td
              td
            tr
              td.row-title
                | Total Area of Solar Arrays
              td
                | 262.5
              td
                | ft ^ 2
              td
    .table-div
      .table-body
        p.table-name
          | 5% Gravity Stress Increase Calculation (IEBC 2015 Section 807.4)
        table.calculations
          tbody
            tr
              td.row-title
                | Roof Dead Load
              td
                | 10800
              td
                | lbs
              td
            tr
              td.row-title
                | Roof Snow Load
              td
                | 27000
              td
                | lbs
              td
            tr
              td.row-title
                | Solar Array Load
              td
                | 787.5
              td
                | lbs
              td
            tr
              td.row-title
                | Total Stress Increase From Solar Panels
              td
                | 2.1%
              td
                | PASS - less than 5%
              td
    .table-div
      .table-body
        p.table-name
          | Solar Panel Attachment Calculations
        table.calculations
          tbody
            tr
              td.row-title
                | Wind Pressure
              td
                | 10800
              td
                | lbs
              td
            tr
              td.row-title
                | Tributary Area per Connection
              td
                | 10800
              td
                | lbs
              td
            tr
              td.row-title
                | Min embedment depth of lag screw
              td
                | 10800
              td
                | lbs
              td
            tr
              td.row-title
                | 5/16" Lag screw pullout capacity
              td
                | 10800
              td
                | lbs
              td
                | NDS 2015 Table 12.2A
            tr
              td.row-title
                | 5/16" Lag screw shear capacity
              td
                | 10800
              td
                | lbs
              td
                | NDS 2015 Table 12K
            tr
              td.row-title
                | Minimum number of connection
              td
                | 10800
              td
                | lbs
              td
