- job_connectiontype_is_s5_protea = @job.connection_type.name == "S5 Protea Braket" || @job.connection_type.name == "S5 Protea Bracket"
 // BE CAREFUL ALTERING THESE. Strings come from the lettertype model, paragraph columns. These substitutions
 // are replacing specific keywords in those stored strings in order to make the paragraph dynamic.
- substitutions = {\
  :client_last_name => @job.client_last_name,
  :street_address => @job.street_address,
  :city => @job.city_name,
  :zip => @job.zip,
  :state => @job.state,
  :company_name => @job.solar_company_name,
  :roof_framing => @job.job_arrays.first.framing_type_is_other ? @job.job_arrays.first.framing_type_other : @job.job_arrays.first.framing_type,
  :spacing => @job.job_arrays.first.beam_spacing.round(0),
  :roof_material => @job.estimate.roof_material,
  :ibc => @job.city.ibc || @job.city.state.ibc,
  :iebc => @job.city.iebc || @job.city.state.iebc,
  :asce => @job.city.asce || "ASCE 7-10",
  :five_percent => "5%",
  :min_connections => @estimate.min_connections,
  :ballasttext1 => @job.job_arrays.first.ballast ? "ballast blocks should be" : "roof attachments should be staggered and",
  :ballasttext2 => @job.job_arrays.first.ballast ? "" : 'Attachment points vary from 24"-74".',
  :ballasttext3 => @job.job_arrays.first.ballast ? "" : @job.connection_type.name != "S5 Protea Bracket" ? 'There should be a minimum of ' << "#{@estimate.min_connections} " << 'attachment points to the roof. Each attachment should have a 5/16" or 18/8 SS lag screw with 2.5" minimum penetration centered on each truss top chord.' : 'There should be a minimum of ' << "#{@estimate.min_connections}" << ' attachment points to the roof.'\
}

- roman_risk_cat = @estimate.risk_category == "1" ? "I" : @estimate.risk_category == "2" ? "II" : @estimate.risk_category == "3" ? "III" : @estimate.risk_category == "4" ? "IV" : @estimate.risk_category == "5" ? "V" : @estimate.risk_category

// Some states use IBC's older than 2015, in which case we hide a few lines in the report
- older_than_2015 = @job.city.ibc.scan(/\d+/).first.to_i >= 2015


head
  = wicked_pdf_stylesheet_link_tag "documents"
body
  .pdf-container.alwaysbreak
    .header-row
      .header
        = wicked_pdf_image_tag("proprietary/logo.png")
    .details
      .date
        = Time.current.strftime("%B %d, %Y")
      .address
        = @job.company.name
      .address
        = "#{@job.company.street_address}"
      .address
        = "#{@job.company.city}, #{@job.company.state} #{@job.company.zip}"

    .design-criteria

      .criteria
        p#criteria-label Design Criteria
        = "Ultimate Wind Speed- #{ @estimate.wind_load.round(2)} mph"
      .criteria
        = "Ground Snow Load- #{ @estimate.ground_sl.round(2)} psf"
      .criteria
        = "Risk Category- #{ roman_risk_cat }"
      .criteria
        = "Exposure Category- #{@estimate.wind_exposure_category}"
    .body-row
      .subject-line
        = @letter_type.subject % substitutions
      .paragraph
        = @letter_type.paragraph1 % substitutions
      .paragraph
        = @letter_type.paragraph2 % substitutions
      .paragraph
        = @letter_type.paragraph3 % substitutions
    .signature
      .left.details
        .end.regards
          | Regards,
        .end
          | Robert D. Smythe, P.E.
        .end
          | Right Angle Engineering
      .middle.stamp
        = wicked_pdf_image_tag(@stamp_url)
      .right
        = Time.current.strftime("%m/%d/%y")
    .footer
      .info
        | 55 WEST 500 SOUTH, HEBER CITY, UT 84032
      .info
        | T 925.787.3067 U RIGHTANGLEENG.COM
  .pdf-container.alwaysbreak
    .header-row
      .header
        = wicked_pdf_image_tag("proprietary/logo.png")

      .table-body
        .table-name
          | Design Criteria
        table.calculations
          tbody
            tr
              td.row-title
                | Design Wind Speed
              td
                = @estimate.wind_load.round(2)
              td
                | mph
              td
            tr
              td.row-title
                | Wind Exposure
              td
                = @estimate.wind_exposure_category
              td
              td
            tr
              td.row-title
                | Risk Category
              td
                = @estimate.risk_category
              td
              td
            tr
              td.row-title
                | Mean Roof Height
              td
                | 30
              td
                | ft
              td
            tr
              td.row-title
                | Roof Type
              td
                | Gable Roof
              td
              td
            tr
              td.row-title
                | Building Type
              td
                = @estimate.building_type
              td
              td

    .table-div
      .table-body
        .table-name
          = "Roof Dead Load - ASCE Table C3-1"
        table.calculations
          tbody
            tr
              td.row-title
                = @estimate.roof_material
              td
                = @estimate.roof_material_psf.round(2)
              td
                | psf
              td
            tr
              td.row-title
                | 7/16" Plywood Sheathing
              td
                | 1.5
              td
                | psf
              td
            tr
              td.row-title
                | Roof Framing
              td
                | 4
              td
                | psf
              td
            tr
              td.row-title
                | Insulation
              td
                | 3.85
              td
                | psf
              td
            tr
              td.row-title
                | Gypsum Sheathing
              td
                | 2
              td
                | psf
              td
            tr
              td.row-title
                = @estimate.solar_panel_arrangement
              td
                = @estimate.solar_panel_psf.round(2)
              td
                | psf
              td
            tr
              td.row-title
              td
              td
              td
            tr
              td.row-title
                | Dead Load Without Panels
              td
                = @estimate.dl_without_panels.round(2)
              td
                | psf
              td
            tr
              td.row-title
                | Dead Load With Panels
              td
                = @estimate.dl_with_panels.round(2)
              td
                | psf
              td
    .table-div style=(older_than_2015 ? 'display:block' : 'display: none')
      .table-body
        .table-name
          | Roof Live Load
        table.calculations
          tbody
            tr
              td.row-title
                | Existing Roof Live Load
              td
                | 20
              td
                | psf
              td
            tr
              td.row-title
                | Roof Live Load with Solar Panels
              td
                | 0
              td
                | psf
              td
                = @job.city.ibc2


    .table-div
      .table-body
        .table-name
          | Roof Snow Load-ASCE 7-10
        table.calculations
          tbody
            tr
              td.row-title
                | Ground Snow Load (pg)
              td
                = @estimate.ground_sl.round(2)
              td
                | psf
              td
                | Section 7.2
            tr
              td.row-title
                | Exposure Factor (Ce)
              td
                | 0.9
              td
              td
                | Table 7-2
            tr
              td.row-title
                | Thermal Factor (Ct)
              td
                | 1.1
              td
              td
                | Table 7-3
            tr
              td.row-title
                | Importance Factor (Is)
              td
                | 1
              td
              td
                | Table 1.5-2
            tr
              td.row-title
                | Flat Roof Snow Load (Pf)
              td
                = @estimate.flat_roof_sl.round(2)
              td
              td
                | Equation 7.3-1
            tr
              td.row-title
                | Slippery Surface Slope Factor (Cs)
              td
                = @estimate.slippery_surface.round(2)
              td
              td
                | Equation 7-2
            tr
              td.row-title
                | Non-slippery Surface Slope Factor (Cs)
              td
                = @estimate.non_slippery_surface.round(2)
              td
              td
                | Figure 7-2
            tr
              td.row-title
                | Snow Load Without Solar Panels
              td
                = @estimate.sl_without_panels.round(2)
              td
                | psf
              td
                | Equation 7.4-1
            tr
              td.row-title
                | Snow Load With Solar Panels
              td
                = @estimate.sl_with_panels.round(2)
              td
                | psf
              td
                | Equation 7.4-2

    .table-div
      .table-body
        .table-name
          | Load Combinations - ASCE 7-10 Section 2.4-1
        table.calculations
          tbody
            tr
              td.row-title
              td.blue-bg
                | Without Solar Panels
              td.blue-bg
                | With Solar Panels
              td
            tr
              td.row-title.blue-bg
                | D + Lr
              td
                = "#{@estimate.dllr_without_panels.round(2)} psf"
              td
                = "#{@estimate.dllr_with_panels.round(2)} psf"
              td
            tr
              td.row-title.blue-bg
                | D + S
              td
                = "#{@estimate.dlsl_without_panels.round(2)} psf"
              td
                = "#{@estimate.dlsl_with_panels.round(2)} psf"
              td
  - @estimate.estimate_arrays.each_with_index do |e_array, index|
    - index = index + 1
    .pdf-container.alwaysbreak
      .table-div
        .table-body
          .table-name
            = "Solar Array #{index} - #{e_array.name}"
          table.calculations
            tbody
              tr
                td.row-title
                  | Roof Slope
                td
                  = e_array.slope
                td
                  | degrees
                td
              tr
                td.row-title
                  | Number of Panels
                td
                  = e_array.number_of_panels
                td
                td
              tr
                td.row-title
                  | Panel Area
                td
                  = e_array.panel_area
                td
                  | ft^2
                td

      .table-div
        .table-body
          .table-name
            | Wind Calculations - ASCE 7-10
          table.calculations
            tbody
              tr
                td.row-title
                  | GCp Zone 1
                td
                  = e_array.zone1.round(2)
                td
                td
                  | Figure 30.4-(2A-5B)
              tr
                td.row-title
                  | GCp Zone 2
                td
                  = e_array.zone2.round(2)
                td
                td
                  | Figure 30.4-(2A-5B)
              tr
                td.row-title
                  | GCp Zone 3
                td
                  = e_array.zone3.round(2)
                td
                td
                  | Figure 30.4-(2A-5B)
              tr
                td.row-title
                  | Gcpi
                td
                  = e_array.gcpi.round(2)
                td
                td
              tr
                td.row-title
                  | Velocity Pressure (qh)
                td
                  = e_array.velocity_pressure.round(2)
                td
                  | psf
                td
                  | qh= .00256KhKhtKdV^2
              tr
                td.row-title
                  | Kh
                td
                  | 0.98
                td
                td
              tr
                td.row-title
                  | Kht
                td
                  | 1
                td
                td
              tr
                td.row-title
                  | Kd
                td
                  | 0.85
                td
                td
              tr
                td.row-title
                  | Designed Wind Pressure (P)
                td
                  |
                td
                  | psf
                td
                  | P= qh(GCh) - (GChi))
              tr
                td.row-title
                  | Zone 1 Pressure (P)
                td
                  = e_array.zone1_pressure.round(2)
                td
                  | psf
                td
              tr
                td.row-title
                  | Zone 2 Pressure (P)
                td
                  = e_array.zone2_pressure.round(2)
                td
                  | psf
                td
              tr
                td.row-title
                  | Zone 3 Pressure (P)
                td
                  = e_array.zone3_pressure.round(2)
                td
                  | psf
                td

      .table-div
        .table-body
          .table-name
            | Roof Connection
          table.calculations
            tbody
              tr
                td.row-title
                  | Shear Capacity
                td
                  = e_array.shear_capacity.round(2)
                td
                  | lbs
                td
                  = e_array.nds_shear
              tr
                td.row-title
                  | Shear Tributary Area
                td
                  = e_array.shear_trib_area.round(2)
                td
                  | ft^2
                td
              tr style=(job_connectiontype_is_s5_protea ? "display: none" : "")
                td.row-title
                  | Pullout Capacity
                td
                  | 266
                td
                  | lbs/in.
                td
              tr style=(job_connectiontype_is_s5_protea ? "display: none" : "")
                td.row-title
                  | Lag Screw Embedment
                td
                  | 2.5
                td
                  | in.
                td
              tr
                td.row-title
                  | Total Pullout Capacity
                td
                  = e_array.pullout_capacity.round(2)
                td
                  | lbs
                td
                  = e_array.nds_pullout
              tr
                td.row-title
                  | Pullout Max Tributary Area
                td
                  = e_array.pullout_trib_area.round(2)
                td
                  | ft^2
                td
              tr
                td.row-title
                  | Factor of Safety
                td
                  = e_array.fs
                td
                td
              tr
                td.row-title
                  | Min. Number of Connections
                td
                  strong = e_array.min_connections
                td
                td

      .table-div
        .table-body
          .table-name
            | Beam Stress IEBC 2015 Section 807.4
          table.calculations
            tbody
              tr
                td.row-title
                  | Beam Span
                td
                  = e_array.beam_span
                td
                  | ft
                td
              tr
                td.row-title
                  | Spacing
                td
                  = e_array.spacing
                td
                  | ft
                td
              tr
                td.row-title
                  | Roof Framing Type
                td
                  = e_array.roof_framing_type
                td
                td
              tr
                td.row-title
                  | Panel Orientation
                td
                  = e_array.orientation
                td
                td
              tr
                td.row-title
                  | Number of Panels per Rafter
                td
                  = e_array.panels_per_rafter
                td
                td
              tr
                td.row-title
                  | Panel Distance from Eave
                td
                  = e_array.panel_distance_from_eave
                td
                  | ft
                td
              tr
                td.row-title
                  |
                td style="background-color: lightblue; text-align: center"
                  | Without Solar Panels
                td style="background-color: lightblue; text-align: center"
                  | With Solar Panels
                td style="background-color: lightblue; text-align: center"
                  | Percent Increase
                td
              tr
                td.row-title.blue-bg
                  | Bending Moment
                td
                  = "#{e_array.bending_moment_without.to_i} ft-lbs"
                td
                  = "#{e_array.bending_moment_with.to_i} ft-lbs"
                td
                  = "#{e_array.bending_moment_percentage.to_i}%"
                td style=(e_array.bending_moment_105.to_i < 105 ? "background-color: lightgreen" : "background-color: red")
                  = e_array.bending_moment_105
              tr
                td.row-title.blue-bg
                  | Vertical Reaction (V1)
                td
                  = "#{e_array.v1_without.to_i} lbs"
                td
                  = "#{e_array.v1_with.to_i} lbs"
                td
                  = "#{e_array.v1_percentage.to_i}%"
                td style=(e_array.v1_percentage.to_i < 105 ? "background-color: lightgreen" : "background-color: red")
                  = e_array.v1_105
              tr
                td.row-title.blue-bg
                  | Vertical Reaction (V2)
                td
                  = "#{e_array.v2_without.to_i} lbs"
                td
                  = "#{e_array.v2_with.to_i} lbs"
                td
                  = "#{e_array.v2_percentage.to_i}%"
                td style=(e_array.v2_percentage.to_i < 105 ? "background-color: lightgreen" : "background-color: red")
                  = e_array.v2_105
  / - if pdf_layouts
  /   - pdf_layouts.each_with_index do |image, index|
  /     - height = ActiveStorage::Analyzer::ImageAnalyzer.new(image.blob).metadata[:height] || 0
  /     - width = ActiveStorage::Analyzer::ImageAnalyzer.new(image.blob).metadata[:width] || 0
  /     - index = index + 1
  /     .uploaded.alwaysbreak
  /       = "#{width} is w. #{height} is h"
  /       = wicked_pdf_image_tag image.service_url, class: width < height ? "submitted-image" : "submitted-image rotated"
  /       - if @job.company.stamp_on_CAD || @job.city.req_stamp
  /         - if @job.city.req_stamp
  /           = wicked_pdf_image_tag @job.city.stamp.image.service_url, class: 'stamp-on-images'

  / - if pdf_images
  /   - pdf_images.each_with_index do |image, index|
  /     - height = ActiveStorage::Analyzer::ImageAnalyzer.new(image.blob).metadata[:height] || 0
  /     - width = ActiveStorage::Analyzer::ImageAnalyzer.new(image.blob).metadata[:width] || 0
  /     - index = index + 1
  /     .uploaded.alwaysbreak
  /       = "#{width} is w. #{height} is h"
  /       = wicked_pdf_image_tag image.service_url, class: width < height ? "submitted-image" : "submitted-image rotated"
  /       - if @job.company.stamp_on_CAD || @job.city.req_stamp
  /         - if @job.city.req_stamp
  /           = wicked_pdf_image_tag @job.city.stamp.image.service_url, class: 'stamp-on-images'




