.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    h3
      | Sign in
    = devise_error_messages!
    .form-group

      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      - if devise_mapping.recoverable?
        = link_to "Forgot password?", new_password_path(resource_name), class: 'right'
      = f.label :password
      = f.password_field :password, class: 'form-control'
    = f.submit 'Sign in', :class => 'btn btn-lg btn-orange right'
    - if devise_mapping.rememberable?
      .checkbox[style="width:150px"]
        label
          = f.check_box :remember_me
          |  Remember me
.authform
  h3 Don't have an account?
  h5 An account with us is required so that we can best accomodate your company's needs and provide you the best experience possible.
  - if devise_mapping.registerable?
    h2 #{link_to 'Sign up', new_registration_path(resource_name), class: "a btn btn-lg btn-orange"}