.head-container.orange
  .content
    h1 We found this company.
    h3 Is it yours?
.container
  h4 Name: #{@company.name}
  h4 #{fa_icon "map-marker 1x"} #{@company.city}, #{@company.state}
  hr
  .col-md-2
    = link_to "Yes", company_confirmed_path(@company, confirmed: true), class:"btn btn-lg btn-orange text-uppercase"
  .col-md-2
    = link_to "No", company_confirmed_path(@company, confirmed: false), class:"btn btn-lg btn-orange text-uppercase"