.container
  h2 Tell us about the company you work for!
  hr
  p Before we get you started with quotes, we require a little more information from you.


  .form-intro
    h4.subtext Fill out the form about your company below
  = simple_form_for @company, :url => company_index_path, :method => :post do |f|
    .row.justify-content-center
      .col-lg-8
        .row
          .col-md-6.form-group.g-mb-20
            = f.input :name, label: "Company Name", class:"form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded g-py-13 g-px-15"
          .col-md-3.form-group.g-mb-20
            = f.input :city, class:"form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded g-py-13 g-px-15"
          .col-md-3.form-group.g-mb-20
            = f.input :state, collection: us_states, class:"form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded g-py-13 g-px-15"
        .text-center
          = f.submit 'Submit', class:"btn btn-lg btn-orange text-uppercase"
hr