<%#
# Edit

This view is the template for the edit page.

It displays a header, and renders the `_form` partial to do the heavy lifting.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to help display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.show_resource", name: page.page_title),
      [namespace, page.resource],
      class: "button",
    ) if valid_action?(:show) && show_action?(:show, page.resource) %>
  </div>
</header>

<section class="main-content__body">

  <%= render "form", page: page %>

</section>
<section style="padding: 15px">
  <h1 style="font-size: 20px">Variables Key</h1>
  <p style="text-decoration: underline"> Use the variables by wrapping the variable in "%{ }".
  <p>Solar Company Name: company_name</p>
  <p>Client Last Name: client_last_name</p>
  <p>Client Address: street_address</p>
  <p>Client City: city</p>
  <p>Client Zip: zip</p>
  <p>Client State: state</p>
  <p>Roof Material: roof_material</p>
  <p>Roof Framing: roof_framing</p>
  <p>Spacing: spacing</p>
  <p>IBC: ibc</p>
  <p>IEBC: iebc</p>
  <p>ASCE: asce</p>
  <p>Percentage: five_percent</p>
  <p>Attachment Points: min_connections</p>
  <br>
  <p>In the third paragraph, there are a lot of conditional statements. Use %{conditional_statements}. The value printed will be depend on the job's connection type:</p>
  <p>In order for the loads to be evenly distributed, %{ballasttext1}% spread evenly throughout the panel array. %{ballasttext2} The racking system should be installed per the manufacture's specifications. %{ballasttext3}</p>

</section>
