// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "./backoffice.css";
@import "./colors.scss";

nav.navbar {
  margin-bottom: 0px;
  background: #FE7217;
  border-radius: 0px !important;
  .header-container {
    padding: 15px;
  }
  .logo img {
    height: 110px;
  }
}
// make all images responsive by default
img {
  // @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

  .icon-bar {
    border: 1px solid black;
  }

  .navbar-link {
    margin-left: 20px;
    color: white;
    transition: all .2s ease-in;
    &:hover {
      color: black;
      text-decoration: none;
    }
    &.cta-link {
      color: black;
      &:hover {
        color: white;
      }
    }
  }

  .navbar-header {
    @media screen and (max-width:768px){
      display: none;
    }
  }

  .mobile-links {
    display: flex;
    margin: 7.5px -15px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
     @media screen and (min-width:768px){
      display: none;
    }
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #fff;
  padding-bottom: 80px;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  // margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for form views
// using Bootstrap 3
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}

.alert {
  margin-bottom: 0px !important;
  background: #9dda81;
}

.invalid-feedback {
  color: red;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.centered {
  display: flex;
  justify-content: center;
}

.btn-orange {
  background-color: $orange;
  color: white;
}


.head-container {
  @extend .container;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  .content {
    @extend .container;
    h1 {
        margin-bottom: 15px;
      }
    h3 {

    }
  }

  &.orange {
    background-color: $orange;
    h1, h3 {
      color: white;
    }
  }
}

.pad-bottom {
  padding-bottom: 25px;
}

.app-container {
  background: orange !important;
}

.attr-label {
    color: #7b808c;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.0357em;
    position: relative;
    text-transform: uppercase;
    clear: left;
    float: left;
    margin-bottom: 1.5em;
    margin-top: 0;
    text-align: left;
    width: calc(35% - 1rem);
    padding-right: 10px;
}

.attr-data {
  float: left;
    margin-bottom: 1.5em;
    margin-left: 2rem;
    width: calc(65% - 1rem);
}