.navigation {
  padding: 1.5em;
  background: #D36212;
}

.menu-header {
  margin-bottom: 30px;
}

.menu-title {
  font-size: 30px;
  color: white;
}

.navigation__link {
  color: white;
  text-decoration: none;
}

.navigation__link--active {
  font-size: 20px;
}
.app-container {
  padding: 0px;
}

.dashboard-main-view {
  display: flex;
    flex-direction: column;
    padding: 1.5em;
}

.job-attributes-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #c7c7c714;
}
  .dashboard-item {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 15px;
    background: whitesmoke;
    padding: 10px;

  }
  .attr-label {
    color: #7b808c;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.0357em;
    position: relative;
    text-transform: uppercase;
    clear: left;
    float: left;
    margin-bottom: 1.5em;
    margin-top: 0;
  }
  .attr-data {
    float: left;
    margin-bottom: 1.5em;
    text-align:right;
  }

  .sectional {
    margin-bottom: 30px;
  }
  .section-title {
    margin-bottom: 30px;
  }

  .summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }

  .summary > div > .attr-label {
    margin-bottom: 0;
  }
  .summary > div > .attr-data {
    margin-bottom: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .summary-collection {
        flex-direction: column;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .left {
    text-align: left;
  }

  .summary-collection > .attr-data {
    text-align: center;

  }
  .left > .attr-data {
    text-align: left;
  }

  .margin-top {
    margin-top: 10px;
  }

  .danger {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .modal {
    z-index: 100000;
    display: none;
    position: absolute;
    top: 0;
    height: 100vh;
    left: 0;
    flex: 1;
    background: rgba(26, 26, 26, 0.385);
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .modal-body {
    height: 180px;
    width: 30vw;
    background: white;
    border-radius: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }