.pdf-container {
  padding: 5px 40px;
}
// page 1

.header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 7px solid black;
  padding: 5px 0;
  width: 100%;
}
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  height: 120px;
  // margin-left: 90px;
  img {
    display: block;
    margin: 0 auto;
    height: 85px;
    width: 400px;
  }
}
.body-row {
  margin-top: 10px;
}

.details {
  margin-top: -30px;
  padding: 5px;
  font-size: 17px;
  .date {
    margin-bottom: 20px;
  }
  .address {
    // background: orange;
    margin: 2px 0;
    line-height: 19px;
  }
}

.design-criteria {
  position: absolute;
  top: 112px;
  right: 49px;
  #criteria-label{
    font-weight: 800;
    margin-bottom: 0;
  }
}
.subject-line {
  // background: turquoise;
  line-height: 19px;
  font-size: 17px;
  font-weight: 700;
}
.paragraph {
  // background: magenta;
  line-height: 16px;
  margin: 17px 0;
  font-size: 16px;
}
.signature {
   margin: 2px 0;
  .left {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    margin-top: 40px;
  }
  .middle {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
  .right {
    display: inline-block;
    width: 25%;
    transform: translate(50px, 0px);
    margin-top: 65px;
    margin-left: 84px;
    // background: lightgray;
  }
  .stamp {
    height: 120px;
    width: 120px;
  }
  // background: springgreen;
  .details {
    padding: 5px;
    font-size: 16px;
    .end {
      // background: tomato;
      line-height: 16px;
      margin: 0;
    }
    .end.regards {
      margin: 20px 0 60px 0;
    }
  }
  img {
    height: 215px;
    width: 210px;
  }
}
.footer {
  // background: lightcoral;
  width: 80%;
  border-top: 1px lightgray solid;
  margin-top: 40px;
  padding: 10px;
  .info {
    // background: yellow;
    font-size: 13px;
    line-height: 13px;
    margin: 4px 0px;
  }
}
// page 2
.header.table-head {
  position: relative;
  top: 0;
}
.table-div {
  margin: 0px 0 25px 0;
}
.table-header {
  // border-bottom: 1px solid black;
  margin-bottom: 30px;
}
.table-body {
  .table-name {
    // background: turquoise;
    // margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(0, 0, 85);
    color: white;
    padding: 3px;
  }
}

.blue-bg {
  background: lightblue;
}
.calculations {
  font-size: 14px;
  .row-title {
    width: 350px;
    text-align: left !important;
  }
  tr {
    height: 20px;
  }
  td {
    width: 180px;
    font-size: 14px;
    text-align: center;
    // border: 1px solid black;
  }
}
div.alwaysbreak {
  page-break-before: always;
}
div.nobreak:before {
  clear: both;
}
div.nobreak {
  page-break-inside: avoid;
}

// .layout-container {
//   height: 80%;
//   max-height: 1010px;
//   width: 100%;
//   position: relative;
  .submitted-image {
    position: relative;
    // margin-top: 85px;
    // position: absolute;
    // top: 160px;
    left: -80px;
    // bottom: 0px;
    // max-width: 1000px;
    max-height: 1280px;
    width: auto;
    max-width:1024px;
    object-fit: cover;
    &.rotated {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    }
  }
// }

.uploaded {
  // padding: 5px 40px;
  position: relative;
}

.stamp-on-images {
  position: absolute;
  bottom: 0px;
  left: 90px;
  width: 200px;
  height: 200px;
}

// td {
//   border: 1px solid lightgray;
//   margin: 0;
//   padding: 0;
// }