@font-face {
  font-family:'montserrat-regular';
  src:font-url('Montserrat-Regular.ttf');
}
@font-face {
  font-family:'montserrat-bold';
  src:font-url('Montserrat-Bold.ttf');
}
@font-face {
  font-family:'montserrat-light';
  src:font-url('Montserrat-Light.ttf');
}
@font-face {
  font-family:'montserrat-italic';
  src:font-url('Montserrat-Italic.ttf');
}

@font-face {
  font-family:'worksans-regular';
  src:font-url('WorkSans-Regular.ttf');
}
@font-face {
  font-family:'worksans-bold';
  src:font-url('WorkSans-Bold.ttf');
}
@font-face {
  font-family:'worksans-light';
  src:font-url('WorkSans-Light.ttf');
}

h1, h2 {
  font-family: 'worksans-bold';
  text-transform: uppercase;
}

h3, h4, h5, h6 {
  font-family: 'worksans-regular';
}

p {
  font-family: 'montserrat-regular';
}
p.bold {
  font-family: 'montserrat-bold';
}

a {
  font-family: 'montserrat-bold';
  text-transform: uppercase;
}

