@import "./colors.scss";

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &.center-row {
    justify-content: space-around;
  }
}

.row-section {
  display: flex;
  height: 150px;
  width: 100%;
  align-items: center;
}
.colored-bg {
  height: 100%;
  width:100%;
  &.orange {
    background: $orange;
  }
}

.central {
  justify-content: center;
  align-items: center;
}

.item {
  width: 100%;
  text-align: center;
  border-right: 1px solid white;
  &:last-of-type {
    border: none;
  }
}