@import "./colors.scss";
.form-intro {
  margin-bottom: 30px;
  .subtext {
    color: $orange;

  }
}
.array-group {
  // overflow: auto;
  margin-bottom: 20px;
  // border-bottom: 1px solid $lightgray;
  &.hidden {
    display: none;
  }
}
