/ navigation styled for Bootstrap 3.0
nav.navbar
  .header-container
    .flex-row
      .logo
        = link_to root_path do
          = image_tag('proprietary/logo.png')
        end

      button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar


      .collapse.navbar-collapse
        ul.nav.navbar-nav.mobile-links
          == render 'layouts/navigation_links'

      .navbar-header
        - if user_signed_in?
          = link_to "My Estimates", user_path(id: current_user.id), class: "navbar-link"
          = link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-link"
        - else
          = link_to "Login", new_user_session_path, class: "navbar-link"
          / = link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-link"
