- # add navigation links to this file
- if user_signed_in?
  = link_to "My Estimates", user_path(id: current_user.id), class: "navbar-link"
  = link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-link"
- else
  = link_to "Login", new_user_session_path, class: "navbar-link"
  / = link_to "Log Out", destroy_user_session_path, method: :delete, class: "navbar-link"