doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Right Angle Engineering'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Right Angle Engineering'}"
    == favicon_link_tag asset_path('rightanglefavicon.png'), :rel => 'icon', :type =>  'image/png'
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => 'reload'
    script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtJBe01JCvYxuBPrSEgLKWVOlhUTWDP2o&libraries=places,elevation" type="text/javascript"
    == javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    == csrf_meta_tags
  body
    header
      == render 'layouts/navigation'
    main[role="main"]
      == render 'layouts/messages'
      == yield
